:root {
    --dark-grey-color: rgb(92, 92, 92);
    --white-color: #fff;
    --green-color: #35af4f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

/* a workaround for making the background image fixed on mobile devices */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--dark-grey-color);
    background-image: linear-gradient( 115deg, rgba(43, 2, 119, 0.6), rgba(121, 32, 148, 0.5)), url(./background-img.jpg);
    background-position: center center;
    background-size: cover;
}

body {
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.4;
}

#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.125rem;
}

@media (min-width: 576px) {
    #container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    #container {
        max-width: 720px;
    }
}

.text-center {
    text-align: center;
}

/* --- HEADER --- */
.header {
    margin-bottom: 1.5625rem;
}

/* --- SURVEY FORM --- */
#survey-form {
    background-color: rgba(173, 173, 173, 0.5);
    border-radius: 0.25rem;
    padding: 2.5rem;
}

#survey-form label {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
    font-size: 1.15rem;
}

#survey-form p {
    font-size: 1.15rem;
    margin-bottom: 0.25rem;
}

.form-group {
    margin-bottom: 2rem;
}

.form-control {
    width: 100%;
    display: block;
    padding: 0.1rem 0.5rem;
    height: 2.5rem;
    color: var(--dark-grey-color);
    background-color: #fff;
    border: 1px solid #ced4da;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-radio, .input-checkbox {
    display: inline-block;
    margin-right: 0.45rem;
}

.input-textarea {
    width: 100%;
    height: 10rem;
    padding: 0.1rem 0.5rem;
}

.submit-button  {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--green-color);
}

input, button, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}