:root {
    --dark-grey-color: rgb(92, 92, 92);
    --white-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

/* a workaround for making the background image fixed on mobile devices */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--dark-grey-color);
    background-image: linear-gradient( 115deg, rgba(43, 2, 119, 0.6), rgba(121, 32, 148, 0.5)), url(./background-img.jpg);
    background-position: center center;
    background-size: cover;
}

body {
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.4;
}

#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.125rem;
}

@media (min-width: 768px) {
    #container {
        max-width: 720px;
    }
}

@media (min-width: 574px) {
    #container {
        max-width: 540px;
    }
}

.text-center {
    text-align: center;
}

.header {
    margin-bottom: 1.5625rem;
}

#survey-form {
    background-color: rgba(173, 173, 173, 0.5);
    border-radius: 0.25rem;
    padding: 2.5rem;
}